/* ---------- */
/* DETAIL COMPONENT */
/* ---------- */

.detail-container {
    max-width: 90%;
    margin: 20px auto;
}

.detail-section {
    margin: 15px 0;
}

.residency-detail h4 {
    margin-bottom: 0;
}

.residency-detail button {
    margin-left: 0;
}

.residency-detail .image-container {
    margin-bottom: 20px;
}



/* ---------- */
/* CARD COMPONENT */
/* ---------- */

.card-container {
    max-width: 90%;
    margin: 0 auto;
}

.residency-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.residency-card {
    width: 250px;
    margin: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
}

.card-section {
    margin: 15px 0;
}

.card-section p {
    margin: 0;
}

.residency-card h3,
.residency-card h4 {
    margin-bottom: 0;
}

.residency-card img {
    width: 100%;
}

.residency-card button {
    margin-left: 0;
}

.residency-card .image-container {
    margin: -15px;
    margin-bottom: 15px;
    height: 150px;
    overflow: hidden;
    background-color: #eee;
    text-align: center;
}

.residency-card .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




/* ---------- */
/* TABLE COMPONENT */
/* ---------- */

.residency-table {
    max-width: 95%;
    margin: 0 auto;
    font-size: .7em;
}

.residency-table th {
    background-color: #ddd;
    padding: 2px 5px;
}

.residency-table td {
    border: 1px solid #ddd;
    padding: 2px 5px;
    max-width: 20%;
    vertical-align: top;
}

.residency-table .table-small-col {
    width: 30px;
}
